#root {
  margin: 0 auto;
  text-align: center;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 16px 16px 16px; /* Tamaño y forma del triángulo */
  border-color: transparent transparent #FFD014 transparent; /* Colores de los bordes */
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
